/* --------------------- Imports ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*-------------------- General settings --------------------*/
:root{
    --black-color : #000;
    --white-color : #fff;
    --light-gray-color: #efefee;
    --medium-gray-color: #b4b3b4;
    --dark-medium-gray-color: #787879;
    --dark-gray-color: #434343;
    --green-color: #0bc346;
}

html, body, * {
    -webkit-app-region: drag;
    /* To prevent text to be selected/higlighted */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    cursor: default;
}

body{
    max-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--white-color);
}

/* -------------------- Specific settings -------------------- */
/* ---------- Utility classes ----------*/
.h-20 {
    height: 20px;
}

.gray-filtered{
    filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
/*---------- Sidebar ----------*/
.left {
    height: 100%;
    width: 300px;
    background-color: var(--black-color);
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.menu {
    display: flex;
    flex-direction: row;
    position: relative;
}


.menu ul {
    width: 100%;
    overflow: hidden;
}

.menu ul *{
    cursor: pointer;
}

.menu ul li {
    padding-left: 0 !important;
    padding: 5px;
}

.menu ul li img {
    width: 24px;
}

.menu ul li a {
    color: var(--medium-gray-color);
    display: flex;
    align-items: center;
}

.menu ul li a span {
    padding-left: 8px;
}

.playlists{
    font-weight: 400;
}

.playlists ul li {
    padding-left: 0 !important;
    padding: 5px;
}

.playlists ul li a span {
    padding-left: 0px;
    padding: 3px;
}

.current-song-cover img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* ---------- Main ----------*/
.right{
    width: 100%;
}
/* Playlist header */
.playlist-header {
    padding: 20px;
    background: var(--light-gray-color);
    /* background: linear-gradient(180deg, rgba(239, 239, 238, 1) 0%, rgba(120, 120, 121, 1) 100%); */
    background: linear-gradient(180deg, var(--light-gray-color) 0%, var(--dark-medium-gray-color) 100%);
}

.playlist-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-arrows {
    display: flex;
    flex-direction: row;
}

.arrow-container {
    background-color: var(--dark-gray-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.arrow-container img {
    width: 35px;
    height: 35px;
}

.playlist-top-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark-gray-color);
    border-radius: 20px;
    color: var(--white-color);
}

.playlist-top-email span {
    padding: 0 20px;
}

.playlist-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;
}

.playlist-cover img {
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 48px -2px rgba(0,0,0,0.67);
    -webkit-box-shadow: 1px 2px 48px -2px rgba(0,0,0,0.67);
    -moz-box-shadow: 1px 2px 48px -2px rgba(0,0,0,0.67);
}

.playlist-info {
    color: var(--white-color);
    padding-left: 20px;
}

.playlist-public {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.playlist-title {
    font-size: 78px;
    font-weight: 1000;
    margin-top: 10px;
}

.playlist-description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.playlist-stats img {
    height: 24px;
    width: 24px;
    position: relative;
    top: 6px;
}

.playlist-stats span:first-of-type {
    font-weight: 1000;
}

/* Music playlist */
.playlist-songs-container {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
    background: #5F5F60;
    background: linear-gradient(180deg, rgba(95, 95, 96, 1) 0%, rgba(18, 18, 18, 1) 25%);
}

.playlist-buttons {
    display: flex;
    justify-content: space-between;
}

.playlist-buttons img {
    width: 30px;
    height: 30px;
}

.playlist-buttons-left, .playlist-buttons-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-buttons-resume-pause {
    background-color: var(--green-color);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-buttons-like, .playlist-buttons-download, .playlist-buttons-three-dots {
    margin-left: 20px;
}

.playlist-buttons-order {
    color: #a9a9a9;
    position: relative;
    top: -2px;
    margin-left: 20px;
}